@model ASPGymCentre.Models.Reservation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Клиент
        </dt>
        <dd class="col-sm-10">
            @Model.Clients.Name @Model.Clients.FamilyName
        </dd>

        <dt class="col-sm-2">
            Тренировка
        </dt>
        <dd class="col-sm-10">
            @Model.Exercises.Day @Model.Exercises.StartTime - @Model.Exercises.EndTime
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegisteredDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegisteredDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>